/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}
    
ul {
    list-style-type: none;
}
    
a {
    color: black;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 78px;
    font-weight: 800;
    margin-bottom: 50px;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}
  

.container-center {
    max-width: 1000px;
    margin: 0 auto;
}
 

/* header */

#main-header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1;
    height: 80px;
    background-color:white;
    box-shadow: 0 0 3px #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header ul {
    display: flex;
    align-items: center;
}

#main-header li {
    padding: 0 20px;
}

#main-header a {
    display: inline-block;
    padding: 0 20px;
    font-size: 15px;
}
    
#Logo {
    width: 120px;
}

/* Buttons */

.btn {
    display: inline-block;
    text-decoration: none;
    border-color: transparent;
    color:white;
    background-color: rgb(0,97,255);
}
    
    
.btn-small {
    padding: 5px 10px;
}
    
.btn-big {
    padding: 10px 15px;
}

.btn-plus {
    padding: 10px 100px;
}

.btn-large {
    padding: 10px 35px;
}

/* Jumbotron */

#jumbotron {
    min-height: 670px;
    background-color: rgb(180,208,231);
}
    
#jumbotron .container {
    position: relative;
    bottom: -100px;
}

.row {
   display: flex;
   /* flex-wrap: wrap; */
}

.col-30 {
    flex-basis: 30%;
}

.col-70 {
    flex-basis: 70%;
}


/* utils */

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-57 {
    margin-top: 57px;
}



/* Business     */

#business {
    padding: 190px;
}

.col {
    gap: 30px;
    margin-top: 40px;
}

h3 {
    font-size: 40px;
    margin-bottom: 50px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
}

.blue {
    border: 6px solid rgb(0,97,255);
}

.white {
    margin-left: 36px;
    border: 1px solid grey;
}
   

.title {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}
    
.col-left, .col-center, .col-right {
    flex: 0 0 33%;
    border: 1px solid grey;
}
    
   
.col-left ul, .col-center ul, .col-right ul {
    padding: 30px;
    margin: 15px 0;
}

hr {
    margin: 50px 0;
    width: 53px;
    border-color: lightgrey;
}

h4 {
    font-size: 30px;
    margin: 20px 0;
}

.fa-check {
    color: rgb(0,97,255);
    font-weight: 800;
    margin-top: 20px;
}

.text-blue {
    text-decoration: underline;
    color: blue;
}
    
.enterprise {
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
    border: 1px solid grey;
}

.team {
    border: 1px solid grey;
}
   
    


   













