/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}
    
ul {
    list-style-type: none;
}
    
a {
    color: black;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 78px;
    font-weight: 800;
    margin-bottom: 50px;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}
  

.container-center {
    max-width: 1000px;
    margin: 0 auto;
}
 
main {
    overflow-y: auto;
}
   

/* header */

#main-header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1;
    height: 80px;
    background-color:white;
    box-shadow: 0 0 3px #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header ul {
    display: flex;
    align-items: center;
}

#main-header li {
    padding: 0 20px;
}

#main-header a {
    display: inline-block;
    padding: 5px 20px;
    font-size: 15px;
}
    
#Logo {
    width: 120px;
}

#main-header a:hover {
    text-decoration: underline;
}

/* Buttons */

.btn, .btn1 {
    display: inline-block;
    text-decoration: none;
    transition: color 1s;
}
    

.btn-blue {
    border-color: transparent;
    color:white;
    background-color: rgb(0,97,255);
}

.btn-white {
    background-color: white;
    color:black;
}
   
    
.btn-small {
    padding: 5px 10px;
}
    
.btn-big {
    padding: 10px 15px;
}

.btn-plus {
    padding: 10px 100px;
}

.btn-large {
    padding: 10px 24px;
}

.btn-large-plus {
    padding: 10px 40px;
}

.btn:hover {
    background-color: rgba(0,97,255,0.6);
}

button:hover {
    color:grey;
}

.col-30 .btn1:hover {
   color: lightgray;
}



/* Jumbotron */

#jumbotron {
    min-height: 670px;
    background-color: rgb(180,208,231);
}
    
#jumbotron .container {
    position: relative;
    bottom: -100px;
}

.row {
   display: flex;
}
   

/* Utils */

.col-10 {
    flex-basis: 10%;
}


.col-20 {
    flex-basis: 20%;
}

.col-30 {
    flex-basis: 30%;
}

.col-40 {
    flex-basis: 40%;
}

.col-50 {
    flex-basis: 50%;
}

.col-60 {
    flex-basis: 60%;
}

.col-70 {
    flex-basis: 70%;
}

.col-90 {
    flex-basis: 90%;
}

.flex {
    gap: 230px;
}


.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-57 {
    margin-top: 57px;
}

.mt-180 {
    margin-top: 180px;
}

/* Business     */

#business {
    padding: 190px;
}

.col {
    gap: 30px;
    margin-top: 20px;
}

.col-n {
    gap: 40px;
    margin-top: 15px;
}

h3 {
    font-size: 40px;
    margin-bottom: 50px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 26px;
}

.blue {
    border: 6px solid rgb(0,97,255);
}

.white {
    margin-left: 36px;
    border: 1px solid grey;
}
   

.title {
    text-align: center;
    padding: 10px;
}
    

.border {
    border-bottom: 1px solid grey;
}
   
    
    
.col-left, .col-center, .col-right {
    flex: 30%;
    border: 1px solid grey;
}
    
   
.col-left ul, .col-center ul, .col-right ul {
    padding: 30px;
    margin: 15px 0;
}

hr {
    margin-top: 45px;  
    margin-bottom: 60px;
    width: 53px;
    border-color: lightgrey;
}

.hr3 {
    width: 160px;
    margin-top: 50px;
}


h4 {
    font-size: 20px;
    margin: 5px 0;
}


.fa-check {
    color: rgb(0,97,255);
    font-weight: 800;
}
    

.text-blue {
    text-decoration: underline;
    color: blue;
}
    
.enterprise {
    justify-content: space-between;
   
    
    padding: 20px;
    border: 1px solid grey;
}

.team {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}

.position {
    margin-top: 9px;
}

.mg {
    margin-left: 24px;
}

.mga {
    margin-left: 10px;
}

.ml{
    margin-left: 4px;
}


/* Dropbox */

button {
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

/* Dropbox business */

#dropbox-business {
    padding: 120px;
}

.left, .center, .right {
    flex: 30%;
}

/* logo */


.squares-container {
    display: flex;
}

.square {
    width: calc(100vw /3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.small-square {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;
    transition: border-color 1s;
}
    
.small-square img {
    width: 50%;
    filter: invert(1);
}

.designit {
    background-color: rgb(162,211,155);
}

.asu {
    background-color: rgb(97,8,43);
}

.florida {
    background-color: rgb(0,147,206);
}

.topps {
    background-color: rgb(255,28,28);
}

.designit-center {
    padding: 30px;
    background-color: rgb(245,245,245);
    flex-direction: column;
    align-items: flex-start;
}

.designit-center img {
    margin-top: 28px;
}

.world {
    background-color: rgb(213,0,31);
}

.hearst {
    background-color: rgb(180,208,231);
}

.lonely {
    background-color: rgb(13,36,129);
}

.channel {
    background-color: rgb(255,216,48);
}


.designit:hover, .asu:hover, .florida:hover, .topps:hover, .world:hover, .hearst:hover, .lonely:hover, .channel:hover {
    border: 10px solid rgba(255,255,255,0.5);
}


/* #free-trial */

#free-trial {
    padding: 110px;
    background-color: rgb(180,208,231);
}
    

.purple {
    color: rgb(100,8,43);
}

/* Requests */

#requests {
    padding: 100px;
}

.fa-chevron-down {
    margin: 50px 0;
}

h6 {
    font-size: 16px;
    margin: 40px 0;
}

.border-top {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.lorem {
    display: none;
}

.row .col-10 .fa-chevron-down p:hover {
    display: block;
}

/* footer */

footer {
    background-color: black;
    padding: 70px;
}
   
h5 {
 font-size: 16px;
 margin-bottom: 16px;
 color: white;
}

.col-20 a {
    display: inline-block;
    color: white;
    font-size: 12px;
    margin-bottom: 8px;
}

.hr2 {
    width: 85px;
    margin-top: 85px;
    margin-bottom: 30px;
    border-color:  grey;
}

.fa-earth-americas, .fa-sort-up, .italian {
    color: grey;
    font-size: 12px;
}

.fa-earth-americas {
    margin-right: 5px;
}



    
    

